

html {
  height: 100vh;
  width: 100vw;
  background-color: lightblue;
}

h1{

}

body {
  margin: 0;
  /* overflow: hidden; */
  width: 100%;
  height:100%;
}

div {
  border: 1px dashed rgba(0, 0, 0, 0.8);
}

.root {
  display: flex;
  flex-direction: column;
  display: grid;
  border: none;
  grid-template-rows: 1fr 7fr;
}

.Main {
  flex: 1;
  height: 100%;
  display: grid;
}

.Sidebar {

}